* {
    margin: 0%;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}

/* Header and navigation style */
.nav-tittle {
    font-weight: 800;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 5px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.text-primary {
    color: rgb(9, 193, 226);
}

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 60px;
    border-radius: 10px;
    background: darkcyan;
    color: white;
}

.header {
    background: rgb(255, 255, 255);
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;

}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 200px;
}

.banner-tittle {
    font-weight: 7;
    font-size: 80px;
    color: rgb(0, 0, 0);
}

.banner-sub-tittle {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.banner-description {
    color: rgb(86, 195, 182);
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section style*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

/* about section style */
.about {
    background: #fff8f3;
    border-radius: 10PX;
    padding: 130PX 150PX;
    text-align: center;
}

.section-tittle {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;

}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about .info-tittle {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do style */


.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #fff8f3;
    box-shadow: 0px 7px 55px gray;
    border-radius: 8px;
    padding: 40px;

}

.skill-tittle {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.skill-description {
    color: #757575;
}

/* Resume style */
.resume-content {
    display: flex;
    gap: 25px;
}

.resume .tittle {
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-tittle {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}

/* contact style's */
.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact .section-tittle {
    text-align: left;
}

.contact input,
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

.contact a {
    text-decoration: none;
}